<!DOCTYPE html>

<head>

</head>

<body>
    <form action="/create_recipe" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" required>
      
        <label for="subcategory">Subcategory:</label>
        <input type="text" id="subcategory" name="subcategory" required>
      
        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image" required>
      
        <label for="preptime">Preparation Time:</label>
        <input type="text" id="preptime" name="preptime" required>
      
        <label for="portions">Portions:</label>
        <input type="text" id="portions" name="portions" required>
      
        <label for="link">Recipe Link:</label>
        <input type="text" id="link" name="link" required>
      
        <input type="submit" value="Create Recipe">
      </form>

</body>

</html>