<!DOCTYPE html>
<html>

<head>
    <title>MotherOfAllOmeletts</title>
    <link rel="icon" href="/static/images/tim.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/misc.css">
    <link rel="stylesheet" type="text/css" href="/static/css/menubar.css">
    


</head>
<body>
    <div id="menubar">
        <div id="webpagelogo">
            <a href="/">
            <img id="logoimage" src="/static/images/Mother of all omelettes-02.png">
            </a>
        </div>


        <div id="categories">

            <div class="category">
                <button class="categorybutton"><a href="/recipes/Alcohol">Alcohol</a></button>
                <ul class="categorydropdown">
                        <li><a href="/recipes/Shots">Shots</a></li>
                        <li><a href="/recipes/Drinks">Drinks</a></li>
                        <li><a href="/recipes/Beer">Beer</a></li>
                        <li><a href="/recipes/Wine">Wine</a></li>
                        <li><a href="/recipes/Spirits">Spirits</a></li>
                </ul>
            </div>

            <div class="category">
                <button class="categorybutton"><a href="/recipes/Appetisers">Appetisers</a></button>
                <ul class="categorydropdown">
                        <li><a href="/recipes/Sallad">Sallad</li>
                        <li><a href="/recipes/Seafood">Seafood</a></li>
                        <li><a href="/recipes/Soups">Soups</a></li>
                        <li><a href="/recipes/Bread">Bread</a></li>
                        
                </ul>
            </div>

            <div class="category">
                <button class="categorybutton"><a href="/recipes/Maincourse">Maincourse</a></button>
                <ul class="categorydropdown">
                        <li><a href="/recipes/Maincourse/Alacarte">A la carte</a></li>
                        <li><a href="/recipes/Maincourse/Seafood">Seafood</a></li>
                        <li><a href="/recipes/Maincourse/Pasta">Pasta</a></li>
                        <li><a href="/recipes/Maincourse/Sallads">Sallads</a></li>
                        <li><a href="/recipes/Maincourse/Asian">Asian</a></li>
                        <li><a href="/recipes/Maincourse/Vegitarian">Vegitarian</a></li>
                </ul>
            </div>

            <div class="category">
                <button class="categorybutton"><a href="/recipes/Desserts">Desserts</a></button>
                <ul class="categorydropdown">
                        <li><a href="/recipes/Icecream">Ice Cream</a></li>
                        <li><a href="/recipes/Custarddesserts">Custard desserts</a></li>
                        <li><a href="/recipes/Dessertbakery">Dessert bakery</a></li>
                </ul>
            </div>

            <div class="category">
                <button class="categorybutton"><a href="/recipes/Bakery">Bakery</a></button>
                <ul class="categorydropdown">
                        <li><a href="/recipes/Bread">Bread</a></li>
                        <li><a href="/recipes/Pies">Pies</a></li>
                        <li><a href="/recipes/Pastries">Pastries</a></li>
                </ul>
            </div>
            

        </div>


        <div id="sidemenu">
                <div class="Menuline"></div>
                <div class="Menuline"></div>
                <div class="Menuline"></div>
        </div>


    </div>

    <div id="createrecipe">
        <p><a href="{{ create_recipe_url }}">Create New Recipe</a></p>
    </div>

    

    





</body>
    

</html>